<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="automail">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import automail urdf file -->
    <xacro:include filename="$(find automail_description)/robots/automail.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="automail.ros2_control.xacro" />


    <xacro:automail_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
